In [33]:
import pandas as pd
import numpy as np
import math

In [34]:
# df = pd.read_csv('result_csv/model_age_face_result.csv', usecols=['predict', 'actual'])
# df = pd.read_csv('result_csv/model_age_mouth_result.csv', usecols=['predict', 'actual'])
# df = pd.read_csv('result_csv/model_age_nose_result.csv', usecols=['predict', 'actual'])
# df = pd.read_csv('result_csv/model_age_righteye_result.csv', usecols=['predict', 'actual'])
df = pd.read_csv('result_csv/model_age_lefteye_result.csv', usecols=['predict', 'actual'])
df

      predict  actual
0          53      62
1           1       7
2          28      34
3          11       1
4          45      62
...       ...     ...
3995       46      31
3996       37      49
3997       28      20
3998        0       1
3999       55      43

[4000 rows x 2 columns]

In [35]:
df['score'] = np.where(abs(df['actual'] - df['predict']) < 5, (5 - abs(df['actual'] - df['predict'])) * 0.2, 0)
df

      predict  actual  score
0          53      62    0.0
1           1       7    0.0
2          28      34    0.0
3          11       1    0.0
4          45      62    0.0
...       ...     ...    ...
3995       46      31    0.0
3996       37      49    0.0
3997       28      20    0.0
3998        0       1    0.8
3999       55      43    0.0

[4000 rows x 3 columns]

In [36]:
# df.to_csv('model_age_face_score.csv', index=False)
# df.to_csv('model_age_mouth_score.csv', index=False)
# df.to_csv('model_age_nose_score.csv', index=False)
# df.to_csv('model_age_righteye_score.csv', index=False)
df.to_csv('model_age_lefteye_score.csv', index=False)